@font-face {
    font-family: myFirstFont;
    src: url(../fonts/advent-pro/AdventPro-Light.ttf);
}

html,body{
    font-family: "myFirstFont";
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
   
}


#first-slide{
  background-color: #20DE5B !important;
  height: 100%;
}

#second-slide{
  background-color: white !important;
  height: 100%;
}


.heading{
    width:30%;
    padding-top: 9%;
    padding-bottom:9%;
    border-radius: 100%;
    vertical-align: middle;
    color:white;
    margin:1%;
    cursor: pointer;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    cursor:pointer;
}

.heading > h2{
    font-size: 6em;
}

#caption1{
    color:white;
}

#caption2{
    color:#20DE5B;
}

.heading{
    background-color: #FFFFFF;
}

.heading div{
    margin: 0;
    padding:0;
    position:relative;
}

#heading1{
    border: crimson solid 4px;
    color:crimson;
}

#heading2{
    border:darkviolet solid 4px;
    color:darkviolet;
}

#heading3{
    border:#1C7AD5 solid 4px;
    color:#1C7AD5;
}


#heading1:hover{
    border: crimson solid 4px;
    background-color:crimson;
    color:white;
}

#heading2:hover{
    border:darkviolet solid 4px;
    background-color:darkviolet;
    color:white;
}

#heading3:hover{
    border:#1C7AD5 solid 4px;
    background-color:#1C7AD5;
    color:white;
}
