.backimage{
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  top:0;

  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

.blur{
  position: absolute;
  padding:0;
  margin:0;
  min-width: 100%;
  min-height: 50%;
  top:25%;
  left:0;
  z-index: 10;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  overflow: hidden;
  background: rgba(0,0,0,.6);
  backdrop-filter: grayscale(1) contrast(3) blur(1px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);

}


.contenido{
  position: fixed;
  padding:0;
  margin:0;
  min-width: 100%;
  min-height: 50%;
  top:25%;
  left:0;
  z-index: 200;
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}
